[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
async-timeout = "*"
asyncio = "*"
aiofiles = "*"
syncer = "*"
mypy = "*"

[dev-packages]

[requires]
python_version = "3.7"
